.container{
    font-size: 60px;
    margin: 120px auto;
    width: 600px;
    text-align: center;
    
}

.plus-button{
    position: relative;
    left: 2px;

}

.plus-button > button{
    margin: 0 8px;
    background-color: blue;
    color: white;
    border: none;
}
.minus-button{
    position: relative;
}
.minus-button>button{
    margin: 0 8px;
    background-color: red;
    color: white;
    border: none;
    width: 18px;
    display: inline-block;
}

p{
  font-size: 20px; text-align: center;

}


.cari{
 
    position: relative;
    left: 587px;
    
}





@media screen and (max-width : 480px) {

    .container{
        position: relative;
        margin: 60px 0;
        right: 67px;
    }
    .cari{
       
         left: 185px;
    }
}